.card-deck {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    flex: 1 0 30%;
    max-width: 70%;
}

.img-card {
  width: auto;
  height: 300px;
  position: relative;
  overflow: hidden;
}

#row1 {
  padding: 20px 20px 50px 20px;
  overflow: hidden;
}

.button-container {
  display: flex; /* displays flex-items (children) inline */
  justify-content: space-between; /* MDN: The items are evenly distributed within the alignment container along the main axis. The spacing between each pair of adjacent items is the same. */
  align-items: center; /* centers them vertically */
  
}

.button-left .button-centre .button-right{
  padding: 0 5px;
  text-align: center;

  font-size: 75%;
}



.image-cropper {
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.image-carre-reduite {
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    
}